<footer class="main-footer" role="contentinfo">
  <div
    class="container footer-flex"
    style="flex-direction: column; align-items: center; text-align: center"
  >
    <ul
      class="footer-links"
      style="
        list-style: none;
        padding: 0;
        display: flex;
        gap: 20px;
        margin-bottom: 5;
      "
    >
      <li><a href="/">Inicio</a></li>
      <li><a href="/pages/servicios.html">servicio</a></li>
      <li><a href="/pages/nosotros.html">Nosotros</a></li>
    </ul>
    <p class="small-note" style="margin-bottom: 5; color: #fff">
      Especialistas en perros y gatos
    </p>
    <p class="copyright">
      © 2025 VetWeb · Desarrollo web para servicios de mascotas
    </p>
  </div>
</footer>
